@keyframes floating {
    0% {
      transform: translateY(0) rotate(45deg);
    }
    50% {
      transform: translateY(-20px) rotate(45deg);
    }
    100% {
      transform: translateY(0) rotate(45deg);
    }
  }
  
  .animate-floating {
    animation: floating 3s ease-in-out infinite;
  }
  
  /* Mejoras en el diseño */
  .page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .page-content {
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.9);
  }
  
  .button-primary {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right, #1d4ed8, #1e3a8a);
    transition: background 0.5s ease-in-out;
  }
  
  .button-primary:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  /* Animaciones */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  
  .animate-scaleIn {
    animation: scaleIn 0.8s ease-in-out;
  }
  